<div>
  <div class="home jumbotron centered">
    <h1>Ad inspector</h1>
    <!--<h2 *ngIf="jwt">Your JWT is:</h2>
    <pre *ngIf="jwt" class="jwt"><code>{{ jwt }}</code></pre>
    <pre *ngIf="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>-->

    <ul *ngFor='#request of response'>
      <!-- TODO use a link parameter array: https://angular.io/docs/ts/latest/guide/router.html#!#link-parameters-array -->
      <li><a href="http://localhost:3000/adTest/{{request.id}}" title={{request.title}} >{{ request.title }}</a></li>
    </ul>

    <p><a class="btn btn-primary" role="button" (click)="logout()">Logout</a></p>
  </div>
</div>
