<div>
  <div class="home centered">
    <h1>Ad inspector</h1>
    <!--<h2 *ngIf="jwt">Your JWT is:</h2>
    <pre *ngIf="jwt" class="jwt"><code>{{ jwt }}</code></pre>
    <pre *ngIf="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>-->

    <div class="add-test row">
      <div class="col-sm-12">
        <form class="form-inline">
          <div class="form-group">
            <label for="url-textBox">Url to test</label>
            <input type="text" class="form-control" [(ngModel)]="url" placeholder="http://url to be tested" >
          </div>
          <button type="submit" class="btn btn-default" (click)="createTest()">Test url</button>
        </form>
      <div>
    </div>


    <div class="performed-tests row">
      <div class="col-sm-12">
        <table class="table table-striped">
          <tr *ngFor='#request of response'>
            <td></td>
            <td><a [routerLink]="[ '/AdTest', { id: request.id} ]" title={{request.title}} >{{ request.title }}</a></td>
          </tr>
        </table>
      </div>
    </div>

    <p><a class="btn btn-primary" role="button" (click)="logout()">Logout</a></p>
  </div>
</div>
